{% extends "base.html" %}

{% block main_content %}

    <h2>Delete a Review</h2>

    <table>
        <tr>
            <th scope="col">Review ID</th>
            <th scope="col">Game</th>
            <th scope="col">User ID</th>
            <th scope="col">Description</th>
            <th scope="col">Score</th>
            <th scope="col">Helpfulness Score</th>
        </tr>
        {% for review in reviews %}
            <tr>
                <th scope="row">{{ review["review_id"] }}</th>
                <td>{{ review["name"] }}</td>
                <td>{{ review["user_id"] }}</td>
                <td>{{ review["description"] }}</td>
                <td>{{ review["score"] }}</td>
                <td>{{ review["helpfulness"] }}</td>
            </tr>
        {% endfor %}
    </table>


    <form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
        {{ form.review_id.label }}
		{{ form.review_id() }}
        {% for error in form.review_id.errors %}
            {{ error }}
        {% endfor %}
        <br />
		{{ form.submit() }}
	</form>

{% endblock %}